

<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.bid.fbe.FingersBidEnrollment" version="0.3.3">
  
  <name>FingersBidEnrollment</name>
  <js-module name="FingersBidEnrollment" src="www/FingersBidEnrollment.js">
    <clobbers target="FingersBidEnrollment"/>
  </js-module>
  
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="FingersBidEnrollment">
          <param name="android-package" value="com.bid.fbe.FingersBidEnrollment"/>
      </feature>
    </config-file>
    
    <config-file parent="/*" target="AndroidManifest.xml"/>
    
    <source-file src="src/android/FingersBidEnrollment.java" target-dir="src/com/bid/fbe/FingersBidEnrollment"/>
    <framework src="src/android/FingersBidEnrollment.gradle" custom="true" type="gradleReference" />
    <resource-file src="src/android/com.bid.fbe2019-11-23.lic" target="src/main/assets/com.bid.fbe2019-11-23.lic" />
  </platform>

</plugin>

