<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon slot="icon-only" color="tertiary" name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        <ion-img class="head-logo" [src]="logout"></ion-img>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <app-loading></app-loading>
    <div class="ion-padding">
      <ion-card>
        <ion-card-header>
          <ion-card-title><h1>Captura identificación</h1></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            Extranjero? <br>
            NO<ion-toggle [(ngModel)]="ext" (ngModelChange)="cambio()" color="primary"></ion-toggle>SI
          </ion-item>
          <ion-item>
            <ion-label>Tipo identificación</ion-label>
            <ion-select [(ngModel)]="tipoID">
              <ion-select-option *ngIf="ext" value="fm2">FM2</ion-select-option>
              <ion-select-option *ngIf="!ext" value="ine">INE</ion-select-option>
              <ion-select-option value="pass">Pasaporte</ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf="tipoID === 'ine'">
            <app-camera [name]="cameraNames" [file]="false" [mitek]="true" [buttonsPosition]="2" (onImage)="getImage($event)" (error)="cameraErrorHandler($event)"></app-camera>
            <h3>¿El domicilio del ID es el actual?
              <ion-item lines="none">
                <ion-toggle mode="ios" color="primary" [(ngModel)]="data.direction"></ion-toggle>
                <ion-label slot="end">SI</ion-label>
              </ion-item>
            </h3>
          </div>
          <div *ngIf="tipoID === 'pass'">
            <app-camera [name]="cameraPasaporte" [file]="false" [mitek]="false" [buttonsPosition]="2" (onImage)="getImage($event)" (error)="cameraErrorHandler($event)"></app-camera>
          </div>
          <div *ngIf="tipoID === 'fm2'">
            <app-camera [name]="cameraNames" [file]="false" [mitek]="true" [buttonsPosition]="2" (onImage)="getImage($event)" (error)="cameraErrorHandler($event)"></app-camera>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-button expand="block" (click)="precallOCR()">Continuar</ion-button>
    </div>
  </ion-content>