<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" color="tertiary" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="tertiary">
      <!--<img class="header-logo" src="../assets/logo_dxn.svg">-->
      {{ name }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p class="ion-text-justify" [innerHTML]=content></p>
    <ion-button expand="block" color="primary" *ngFor="let action of actions" (click)="action.action(); dismiss()">
      {{ action.name }}
    </ion-button>
  </div>
</ion-content>